body {
  background-color: #333647;
}

.side-panel {
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 8px;
  padding-top: 1em;
  padding-left: 1em;
}

.map {
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  height: 95vh;
  width: 100% !important;
}

agm-map {
  height: 95vh;
  width: 100% !important;
}

.row-eq-height{
  flex-wrap: wrap;
  display: flex;
}
